.navbar{
    background-color: rgb(211, 206, 206);
    display: inline-block;
    width: 100%;
    margin-bottom: 100px;
}
#logo{
    margin-right: 50px;
    color: white; 
    font-weight: bold;
    text-transform: uppercase;
}
.itens-nav{
    display:inline;
}
.itens-nav a{
    padding: 0 10px;
}
a{
    text-decoration: none;
    
    color: gray;
}
.form-inline{
    float: right;
}