<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Busca</h3>
            <div class="form-group">
                <label for=""></label>
                <input type="search" class="form-control" placeholder="Enter your ask" 
                    [ngModel]="busca" (ngModelChange)="search($event)"
                >
            </div>
            <ul class="list-group">
                <li class="list-group-item cursor-pointer" *ngFor="let t of tasks | async" (click)="verDetalhe(t)">{{ t.tarefa }}</li>
            </ul>
        </div>
    </div>
</div>